body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

form input,
form select,
form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    cursor: pointer;
    border: none;
    color: white;
    background: rgb(70, 165, 202);
    transition: 0.3s;
}

button:hover {
    transform: translateY(-2px);
}

#search-expense {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.budget-section {
    margin-bottom: 20px;
}

.budget-section input {
    padding: 10px;
}

.budget-section button {
    padding: 10px;
}

.expense-table table {
    width: 100%;
    border-collapse: collapse;
}

.expense-table th,
.expense-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.expense-table th {
    background: #f1f1f1;
}

.expense-table tr:nth-child(even) {
    background: #fafafa;
}

.total-amount {
    text-align: right;
    margin-top: 15px;
    font-size: 18px;
}

.monthly-summary {
    margin-top: 20px;
    padding: 15px;
    background: #b6d6f7;
    border-radius: 5px;
}

.filter {
    margin-top: 20px;
    text-align: right;
}

.edit-btn {
    background: orange;
    margin-right: 5px;
}

.delete-btn {
    background: red;
}

@media (max-width: 768px) {

    form {
        flex-direction: column;
    }

    .filter {
        text-align: left;
    }

    table {
        font-size: 14px;
    }

    .container {
        margin: 15px;
    }
}